canvas {
    border: 1px solid black;
    width: 196px;
    height: 196px;
  }
      
#button-reset:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button-ia:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.div1 {
  width: 300px;
  height: 196px;

  margin-left: 10px;

 
}

.div2 {
  width: 300px;
  height: 10px;
  padding: 5px;

}

.div3 {

  width: 400px;
  height: 100px;
  padding: 5px;

  margin-top: 20px;

}