<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vendor Catalogue</title>

    <h1 class="center">Draw a number</h1>
    
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='materialize.css') }}">

  </head>
  <body>

    <div class = "container center">
    <div class=div1>
    <canvas id="myPics" width="196px" height="196px"></canvas>
    </div>

   
    <div class=div2>
    <button type="button" class="btn btn-danger" onclick="window.location.reload()" id='button-reset'>RESET</button>

    <button type="button" class="btn btn-success" onclick="send()" id='button-ia'>IA CLASSIFICATION</button>

    </div>

    <div class=div3><h2 id='predict'></h2></div>
    
    <!-- Attaching a JS file -->
    <script src="{{url_for('static',filename = 'app.js')}}"></script>
    
    <script src="{{url_for('static',filename = 'jquery.js')}}"></script>

      </div>
   
    </body>
</html>




































